html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

#gradient-canvas {
    position: absolute; /* Position the gradient canvas behind other content */
    top: -40%;
    left: 0;
    width: 100%;
    height: 225%;
   
    --gradient-color-1: #ffd6ff ;
    --gradient-color-2: #b8c0ff ;
    --gradient-color-3: #bbd0ff ;
    --gradient-color-4: #f598cdf6 ;
    z-index: 0;
}

